.idea/
cmake-build-debug/
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
antlr/antlr4cpp_fetcher
externals/
antlr/advpl_language_server_cxx_antlr
src/advpl_language_server_cxx_bin
test/advpl_language_server_test
**/*.a
**/*.tokens
**/*.cbp
